{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "debug": false
      }
    ],
    [
      "react"
    ]
  ],
  "plugins": [
    [
      "emotion",
      "transform-object-rest-spread"
    ]
  ]
}
